.containe{
    background-color: #031b3e !important;
    height: 95vh;
    padding-left: 26px;
    padding-right: 26px;
    overflow-y: hidden;
}
img{
    height: 200px;
    width: 75%;
    margin-top: 25%;
    border-radius: 10px;
}
p{
    font-size: 28px;
    color: rgb(172, 171, 171);
}
h4{
    color: white;
    font-family: cursive;
    font-size: 18px;
    line-height: 30px;
}
button{
    background-color: rgb(210, 206, 206);
    width: 73%;
    font-size: 22px;
    height: 51px;
    border-radius: 40px;
    border: thin solid white;
    margin-top: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.active{text-align: center;}
.nonactive{display: none;}
.reset{
    background-color: black;
    border: thin solid white;
    padding: 5px;
    width: 22%;
    height: 38px;
    border-radius: 4px;
    margin-top: 40px;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 600px) {
    .containe{
        height: 100vh;
    }
    img{
        width: 20%;
        margin-top: 5%;
    }
    button{
        width: 15%;
        margin-left: 10px;
    }
}