body{
    background-color: rgb(209, 206, 206);
}
.container{
    background-color: #30556e;
    height: 57vh;
    width: 320px;
    margin: auto;
    margin-top: 4%;
    padding-top: 40px;
    border-radius: 18px;
    box-shadow: 10px, 5px, 5px, 10px;
}
.degree, .normal, .hot, .verycold{
    background-color: #1a5ba6;
    height: 200px;
    width: 200px;
    margin: auto;
    padding-bottom: 14px;
    border-radius: 50%;
    border: 2px solid rgb(205, 203, 203);
}
.hot{background-color: orange;}
.normal{background-color: rgb(1, 33, 1);}
.verycold{background-color: rgb(9, 9, 72);}
.buttoncont{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
button{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(107, 106, 106);
    border: thin solid white;
    font-size: 40px;
}
p{
    font-size: 55px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.condition{
    color: rgb(223, 220, 220);
}
@media screen and (max-width: 550px) {
    .container{
        width: 80%;
        margin-top: 25%;
    }
}